.carousel {
  width: 100%;
  height: 50vh;
  margin: auto;
}

.item {
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.carousel-caption {
  top: 0;
  bottom: auto;
}

.carousel-indicators {
  top: 0;
  bottom: auto;
}
